<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ทดสอบระบบ RESTful Server</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css">
    <link href="css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link href="css/theme.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container" role="main">
        <div class="row">
            <div class="col-md-6">
                <h1>Query Data</h1>
                <div class="form-group">
                    <label for="inputTable">Table</label>
                    <input type="text" class="form-control" id="inputTable" placeholder="Table">
                </div>
                <div class="form-group">
                    <label for="inputField">Field</label>
                    <input type="text" class="form-control" id="inputField" placeholder="Field">
                </div>
                <div class="form-group">
                    <label for="inputValue">Value</label>
                    <input type="text" class="form-control" id="inputValue" placeholder="Value">
                </div>
                <p>
                    <button type="button" class="btn btn-lg btn-default" id="openquery">
                        <span class="glyphicon glyphicon-play" aria-hidden="true"></span> Open Query
                    </button>
                    <button type="button" class="btn btn-lg btn-default" id="openreport">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Report
                    </button>
                </p>
            </div>
            <div class="col-md-6">
                <h1>Insert Data</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="insertTable">Table</label>
                            <input type="text" class="form-control" id="insertTable" placeholder="Table">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="insertField1">Field1</label>
                            <input type="text" class="form-control" id="insertField1" placeholder="Field Code">
                        </div>
                        <div class="form-group">
                            <label for="insertField2">Field2</label>
                            <input type="text" class="form-control" id="insertField2" placeholder="Field Description">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="insertValue1">Value1</label>
                            <input type="text" class="form-control" id="insertValue1" placeholder="Value Code">
                        </div>
                        <div class="form-group">
                            <label for="insertValue2">Value2</label>
                            <input type="text" class="form-control" id="insertValue2" placeholder="Value Description">
                        </div>
                    </div>
                </div>

                <p>
                    <button type="button" class="btn btn-lg btn-default" id="savedata">
                        <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> Save
                    </button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <table id="result" class="table table-striped">
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputFile">File input</label>
                    <input id="exampleInputFile" type="file" accept="image/gif, image/jpeg, image/png" class="file">
                    <p class="help-block">Image To Base64.</p>
                </div>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-lg btn-default" id="upload">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> upload
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="uploadfilename">File Name</label>
                    <input type="text" class="form-control" id="uploadfilename" placeholder="File Name">
                </div>
                <div class="form-group">
                    <label for="comment">Base64</label>
                    <textarea class="form-control" rows="5" id="base"></textarea>
                </div>
                <p></p>
                <img src="" alt="" id="falseinput" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <h1>รายงานการรับชำระ</h1>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="vlocat">สาขา</label>
                            <select class="form-control" id="vlocat">
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="comment">จากวันที่</label>
                            <input id="vfdate" class="form-control" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="comment">ถึงวันที่</label>
                            <input id="vtdate" class="form-control" data-date-format="dd/mm/yyyy">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="vpayfor">รับชำระค่า</label>
                            <input type="text" class="form-control" id="vpayfor" placeholder="รับชำระค่า">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="vpaytyp">รับชำระโดย</label>
                            <input type="text" class="form-control" id="vpaytyp" placeholder="รับชำระโดย">
                        </div>
                    </div>
                </div>
                <p>
                    <button type="button" class="btn btn-lg btn-default" id="openreport2">
                        <span class="glyphicon glyphicon-print" aria-hidden="true"></span> Preview
                    </button>
                    <button type="button" class="btn btn-lg btn-default" id="export">
                        <span class="glyphicon glyphicon-export" aria-hidden="true"></span> Export Excel
                    </button>
                </p>
            </div>
        </div>
    </div>
    <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js" crossorigin="anonymous"></script>

    <script type="text/javascript">
        $(document).ready(function() {

            function buildHtmlTable(myList) {
                $('#result tr').remove();
                var columns = addAllColumnHeaders(myList);

                for (var i = 0 ; i < myList.length ; i++) {
                    var row$ = $('<tr/>');
                    for (var colIndex = 0 ; colIndex < columns.length ; colIndex++) {
                        var cellValue = myList[i][columns[colIndex]];

                        if (cellValue == null) { cellValue = ""; }

                        row$.append($('<td/>').html(cellValue));
                    }
                    $("#result").append(row$);
                }
            }

            function addAllColumnHeaders(myList) {
                var columnSet = [];
                var headerTr$ = $('<tr/>');

                for (var i = 0 ; i < myList.length ; i++) {
                    var rowHash = myList[i];
                    for (var key in rowHash) {
                        if ($.inArray(key, columnSet) == -1){
                            columnSet.push(key);
                            headerTr$.append($('<th/>').html(key));
                        }
                    }
                }
                $("#result").append(headerTr$);
                return columnSet;
            }

            function readURL(input) {
    			if (input.files && input.files[0]) {
    				var reader = new FileReader();
    				reader.onload = function (e) {
    					$('#falseinput').attr('src', e.target.result);
    					$('#base').val(e.target.result.replace(/^data:image\/(png|jpg|jpeg);base64,/, ''));
    				};
    				reader.readAsDataURL(input.files[0]);
    			}
    		}

            function base64ToJSON(bytes) {
                //var jsonString = Base64.encode(JSON.stringify(bytes));
                return JSON.stringify(bytes);
            };

            function onOpenQueryClick() {
                var inputTable = document.getElementById('inputTable');
                var inputField = document.getElementById('inputField');
                var inputValue = document.getElementById('inputValue');
                $.ajax({
                    type: "GET",
                    url: "setgroup",
                    contentType : "application/json;charset=utf-8",
                    dataType: "json",
                    data: {table: inputTable.value, field: inputField.value, value: inputValue.value},
                    success: function(data, status, xhr) {
                        buildHtmlTable(data);
                    },
                    error: function(xhr, status, erro) {
                        console.log(xhr.responseText);
                    }
                });
            }

            function onSaveClick() {
                var insertTable = document.getElementById('insertTable');
                var insertField1 = document.getElementById('insertField1');
                var insertField2 = document.getElementById('insertField2');
                var insertValue1 = document.getElementById('insertValue1');
                var insertValue2 = document.getElementById('insertValue2');
                var datajson = JSON.stringify([{table: insertTable.value, field1: insertField1.value, field2: insertField2.value, value1: insertValue1.value, value2: insertValue2.value}]);
                $.ajax({
                    type: "POST",
                    url: "setgroup",
                    contentType : "application/json;charset=utf-8",
                    dataType: "json",
                    data: datajson,
                    success: function(data, status, xhr) {
                        buildHtmlTable(data);
                    },
                    error: function(xhr, status, erro) {
                        console.log(xhr.responseText);
                    }
                });
            }

            function onUploadClick() {
                //var file = $('#exampleInputFile').get(0).files[0];
                var file1 = $('#base').val();
                var filename = $('#uploadfilename').val();
                var datajson = JSON.stringify([{file1: file1, filename: filename}]);
                $.ajax({
                    type : 'POST',
                    url : 'uploadimage',
                    contentType : "application/json",
                    dataType: "json",
                    data : datajson,
                    success : function(data, status, xhr) {
                        console.log(data);
                    },
                    error : function(xhr, status, erro) {
                        console.log(xhr.responseText);
                    }
                });
            }

            function openReport (verb, url, data, target) {
                var form = document.createElement("form");
                form.action = url;
                form.method = verb;
                form.target = target || "_blank";
                if (data) {
                    for (var key in data) {
                        var input = document.createElement("textarea");
                        input.name = key;
                        input.value = typeof data[key] === "object" ? JSON.stringify(data[key]) : data[key];
                        form.appendChild(input);
                    }
                }
                form.style.display = 'none';
                document.body.appendChild(form);
                form.submit();
                document.body.removeChild(form);
            };

            $('#inputTable').keyup(function(){
                this.value = this.value.toUpperCase();
            });

            $('#insertTable').keyup(function(){
                this.value = this.value.toUpperCase();
            });

            $('#inputField').keyup(function(){
                this.value = this.value.toUpperCase();
            });

            $('#insertField1').keyup(function(){
                this.value = this.value.toUpperCase();
            });

            $('#insertField2').keyup(function(){
                this.value = this.value.toUpperCase();
            });

            $("#openquery").click(function() {
                onOpenQueryClick();
            });

            $("#savedata").click(function() {
                onSaveClick();
            });

            $("#upload").click(function() {
                onUploadClick();
            });

            $('#exampleInputFile').change(function() {
                readURL(this);
                $.each($('#exampleInputFile').prop("files"), function(k,v){
                    var filename = v['name'];
                    $('#uploadfilename').val(filename);
                    console.log(filename);
                });

            });

            $("#openreport").click(function() {
                var baseUrl = document.location.origin;
                var inputTable = document.getElementById('inputTable');
                var inputField = document.getElementById('inputField');
                var inputValue = document.getElementById('inputValue');
                console.log(baseUrl);
                openReport('GET', baseUrl+'/report', {table: inputTable.value, field: inputField.value, value: inputValue.value});
            });

            $("#openreport2").click(function() {
                var baseUrl = document.location.origin;
                var reportname = 'receiptdaily';
                var vlocat = document.getElementById('vlocat');
                var vfdate = $('#vfdate').val();
                var vtdate = $('#vtdate').val();
                var vpayfor = document.getElementById('vpayfor');
                var vpaytyp = document.getElementById('vpaytyp');
                console.log(baseUrl);
                openReport('GET', baseUrl+'/report', {reportname: reportname, locat: vlocat.value, fdate: vfdate, tdate: vtdate, payfor: vpayfor.value, paytyp: vpaytyp.value});
            });

            $("#export").click(function() {
                var baseUrl = document.location.origin;
                var reportname = 'receiptdaily';
                var vlocat = document.getElementById('vlocat');
                var vfdate = $('#vfdate').val();
                var vtdate = $('#vtdate').val();
                var vpayfor = document.getElementById('vpayfor');
                var vpaytyp = document.getElementById('vpaytyp');
                console.log(baseUrl);
                openReport('GET', baseUrl+'/export', {reportname: reportname, locat: vlocat.value, fdate: vfdate, tdate: vtdate, payfor: vpayfor.value, paytyp: vpaytyp.value});
            });

            $.ajax({
                type: "GET",
                url: "setgroup",
                contentType : "application/json;charset=utf-8",
                dataType: "json",
                data: {table: 'invlocat', field: 'locatcd', value: ''},
                success: function(data, status, xhr) {
                    var obj = data;
                    $('#vlocat').append($('<option>', {
                        value: '',
                        text : 'ทุกสาขา'
                    }));
                    for (var i = 0; i < obj.length; i++) {
                        $('#vlocat').append($('<option>', {
                            value: obj[i].LOCATCD,
                            text : '['+obj[i].LOCATCD+']'+obj[i].LOCATNM
                        }));
                    };
                },
                error: function(xhr, status, erro) {
                    console.log(xhr.responseText);
                }
            });

            $('#vfdate').datepicker('update', new Date());
            $('#vtdate').datepicker('update', new Date());
        });
    </script>
</body>

</html>
